@use "../../scss/abstract/colors" as *;
@use "../../scss/base/brakepoints" as *;

.seeOurProjects {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	padding-top: 20px;
	&__header {
		display: flex;
		align-items: center;
		width: 100%;
		height: 150px;
		padding: 7px 125px;
		text-transform: uppercase;
		h2 {
			font-size: 34px;
			font-style: normal;
			font-weight: 300;
		}
	}
	&__wrapper {
		width: 100%;
	}
	&__projects {
		display: FLEX;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 50vh;
		padding: 7px 125px;
		background: linear-gradient(
				0deg,
				rgba(34, 62, 119, 0.45) 0%,
				rgba(34, 62, 119, 0.45) 100%
			),
			url("../../assets/spacejoy-PyeXkOVmG1Y-unsplash.jpg");
		background-size: contain;
		background-size: 90%;
		background-repeat: no-repeat;
		background-position: center;
		&--button {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 250px;
			height: 70px;
			border-radius: 5px;
			padding: 8px 32px;
			background-color: $color400;
			color: $color50;
			text-decoration: none;
			transition: all 0.5s ease;
			&:hover {
				transition: all 0.5s ease;
				width: 265px;
				height: 85px;
				background-color: #0b1528;
				border: 2px solid $color950;
				color: $color50;
				font-weight: 700;
				cursor: pointer;
			}
		}
	}
}
@include media("<=phone") {
	.seeOurProjects {
		padding-top: 10px;
		&__header {
			height: 90px;
			padding: 7px 25px;
			h2 {
				font-size: 1.25rem;
			}
		}
		&__projects {
			height: 25vh;
		}
	}
}
