@use "../../scss/abstract/colors" as *;

.ourProducts {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-top: 120px;
	&__header {
		display: flex;
		align-items: center;
		width: 100%;
		height: 150px;
		padding: 7px 125px;
		text-transform: uppercase;
		h2 {
			font-size: 34px;
			font-style: normal;
			font-weight: 300;
		}
	}
	&__products {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding: 30px 125px;
	}
	&__productWrapper {
		display: grid;
		justify-content: start;
		grid-template-columns: repeat(3, 30%);
		grid-template-rows: repeat(2, 1fr);
		gap: 20px;
	}
	&__productCard {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 100%;
		height: 100%;
		box-shadow: 1px 6px 11px 4px #060a1431;
		overflow: hidden;
		transition: transform 0.5s ease-in;
		cursor: pointer;
		&:hover {
			img {
				transform: scale(1.3);
				transition: transform 1s ease;
			}
			.ourProducts__productCard-description {
				bottom: 8%;
				transition: all ease-in-out 0.2s;
			}
			.ourProducts__productCard-description::after {
				width: 90%;
			}
		}
		&-description {
			position: absolute;
			display: flex;
			flex-direction: column;
			width: 45%;
			bottom: 5%;
			left: 5%;
			font-size: 25px;
			transition: all ease-in-out 0.2s;
			&::after {
				transition: all ease-in-out 0.6s;
				background: none repeat scroll 0 0 #ffffff;
				content: "";
				display: block;
				background: $color950;
				height: 3px;
				width: 0;
			}
		}
		img {
			width: 100%;
			transition: transform 2s ease;
		}
	}
}
.middleInfo {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	padding: 120px 112px;
	gap: 32px;
	&__card {
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 100%;
		gap: 65px;
		&--reverse {
			display: flex;
			align-items: center;
			justify-content: space-around;
			width: 100%;
			gap: 65px;
			flex-direction: row-reverse;
		}
	}
	&__cardLeft {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
		gap: 16px;
		width: 30%;
		height: 292px;
		&-content {
			display: flex;
			align-items: flex-start;
			gap: 30px;
			flex-direction: column;
			width: 630px;
		}
		&--button {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 25px 32px;
			background-color: $color400;
			color: $color50;
			font-weight: 700;
			text-decoration: none;
			height: 40px;
			border-radius: 5px;
		}
		h3 {
			font-size: 55px;
			font-style: normal;
			font-weight: 600;
			line-height: 150%;
		}
		p {
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
			line-height: 150%;
		}
	}
	&__cardRight {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 35%;
		height: 69vh;
		border-radius: 35px 0px;
		overflow: hidden;
		img {
			width: 100%;
		}
	}
}
.seeOurProjects {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	padding-top: 120px;
	&__header {
		display: flex;
		align-items: center;
		width: 100%;
		height: 150px;
		padding: 7px 125px;
		text-transform: uppercase;
		h2 {
			font-size: 34px;
			font-style: normal;
			font-weight: 300;
		}
	}
	&__projects {
		display: FLEX;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 50vh;
		padding: 7px 125px;
		background: linear-gradient(
				0deg,
				rgba(34, 62, 119, 0.45) 0%,
				rgba(34, 62, 119, 0.45) 100%
			),
			url("../../assets/spacejoy-PyeXkOVmG1Y-unsplash.jpg");
		background-size: contain;
		background-size: 90%;
		background-repeat: no-repeat;
		background-position: center;
		&--button {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 250px;
			height: 70px;
			border-radius: 5px;
			padding: 8px 32px;
			background-color: $color400;
			color: $color50;
			text-decoration: none;
			transition: all 0.5s ease;
			&:hover {
				transition: all 0.5s ease;
				width: 265px;
				height: 85px;
				background-color: #0b1528;
				border: 2px solid $color950;
				color: $color50;
				font-weight: 700;
				cursor: pointer;
			}
		}
	}
}
