@use "../../scss/abstract/colors" as *;
@use "../../scss/base/brakepoints" as *;

.order {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 65%;
	height: 45%;
	&__table {
		width: 100%;
		thead {
			height: 10vh;
		}
		th {
			text-align: left;
			padding: 15px 10px;
			border-bottom: 1px solid #0b152865;
		}
		td {
			text-align: left;
			padding: 15px 10px;
			border-bottom: 1px solid #0b152865;
		}
	}
	.tableMobile {
		display: none;
	}
}
@include media("<=phone") {
	.order {
		width: 100%;
		&__table {
			th {
				text-align: center;
				padding: 15px 10px;
				border-bottom: 1px solid #0b152865;
			}
			td {
				text-align: center;
				font-size: 0.8rem;
				padding: 15px 10px;
				border-bottom: 1px solid #0b152865;
			}
		}
	}
}
