$color50: #ebf0f9;
$color100: #d7e1f4;
$color200: #b0c3e8;
$color300: #88a4dd;
$color400: #6086d2;
$color500: #eaeff9;
$color600: #2d539f;
$color700: #223e77;
$color800: #172a4f;
$color900: #0b1528;
$color950: #060a14;
