@use "../../scss/abstract/colors" as *;
@use "../../scss/base/brakepoints" as *;

.middleInfo {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	padding: 120px 40px;
	gap: 32px;
	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 100%;
		gap: 65px;
	}
	&__card {
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 100%;
		gap: 25px;
		&--reverse {
			display: flex;
			align-items: center;
			justify-content: space-around;
			width: 100%;
			gap: 25px;
			flex-direction: row-reverse;
		}
	}
	&__cardLeft {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
		gap: 16px;
		width: 40%;
		height: 292px;
		&-content {
			display: flex;
			align-items: flex-start;
			gap: 30px;
			flex-direction: column;
			width: 630px;
		}
		&--button {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 25px 32px;
			background-color: $color400;
			color: $color50;
			font-weight: 700;
			text-decoration: none;
			height: 40px;
			border-radius: 5px;
		}
		h3 {
			font-size: 55px;
			font-style: normal;
			font-weight: 600;
			line-height: 150%;
			color: $color800;
		}
		p {
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
			line-height: 150%;
		}
	}
	&__cardRight {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 35%;
		height: 69vh;
		border-radius: 35px 0px;
		overflow: hidden;
		img {
			width: 100%;
		}
	}
}
@include media("<=phone") {
	.middleInfo {
		padding: 10px 0px;
		&__card {
			gap: 10px;
			flex-direction: column-reverse;
			&--reverse {
				flex-direction: column-reverse;
				gap: 10px;
			}
		}
		&__wrapper {
			justify-content: space-between;
			gap: 15px;
		}
		&__cardRight {
			width: 90%;
			height: 30vh;
		}
		&__cardLeft {
			align-items: center;
			width: 90%;
			height: 45vh;
			&-content {
				gap: 10px;
				width: 320px;
				align-items: center;
				text-align: center;
			}
			h3 {
				font-size: 1.5rem;
			}
			p {
				font-size: 12px;
			}
		}
	}
}
@include media(">=phone", "<=tablet") {
	.middleInfo {
		padding: 60px 0px;
		&__card {
			gap: 10px;
			flex-direction: column-reverse;
			&--reverse {
				flex-direction: column-reverse;
				gap: 10px;
			}
		}
		&__wrapper {
			justify-content: space-between;
			gap: 15px;
		}
		&__cardRight {
			width: 55%;
			height: 40vh;
		}
		&__cardLeft {
			width: 100%;
			height: 45vh;
			align-items: center;
			&-content {
				gap: 10px;
				width: 480px;
				align-items: center;
				text-align: center;
			}
			h3 {
				font-size: 1.9rem;
			}
			p {
				font-size: 1rem;
			}
		}
	}
}
@include media(">=tablet", "<=1024px") {
	.middleInfo {
		padding: 60px 0px;
		&__card {
			gap: 10px;
			flex-direction: column-reverse;
			&--reverse {
				flex-direction: column-reverse;
				gap: 10px;
			}
		}
		&__wrapper {
			justify-content: space-between;
			gap: 15px;
		}
		&__cardRight {
			width: 55%;
			height: 40vh;
		}
		&__cardLeft {
			width: 100%;
			height: 45vh;
			align-items: center;
			&-content {
				gap: 10px;
				width: 480px;
				align-items: center;
				text-align: center;
			}
			h3 {
				font-size: 1.9rem;
			}
			p {
				font-size: 1rem;
			}
		}
	}
}
@include media(">=1023px", "<=desktop") {
	.middleInfo {
		padding: 120px 112px;
		&__card {
			gap: 45px;
			flex-direction: row;
			&--reverse {
				flex-direction: row-reverse;
				gap: 45px;
			}
		}
		&__wrapper {
			justify-content: space-between;
			gap: 15px;
		}
		&__cardRight {
			width: 70%;
			height: 55vh;
		}
		&__cardLeft {
			width: 100%;
			height: 45vh;
			&-content {
				gap: 10px;
				width: 480px;
				align-items: flex-start;
			}
			h3 {
				font-size: 1.9rem;
			}
			p {
				font-size: 1rem;
			}
		}
	}
}
