@use "../../scss/abstract/colors" as *;
@use "../../scss/base/brakepoints" as *;

.profile {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	height: 70vh;
	&__topContent {
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-direction: column;
		width: 65%;
		height: 45%;
		background-color: rgb(11 21 40 / 91%);
		img {
			width: 10%;
			border-radius: 50%;
		}
	}
	&__nameSection {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 1rem;
		color: $color50;
	}
	&__profileNav {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 5vh;
	}
	&__nav {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		list-style: none;
		color: $color50;
	}
}
