@use "../../scss/abstract/colors" as *;
@use "../../scss/base/brakepoints" as *;

.checkoutForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.625rem;
	width: 50%;
	&__inputWrapp {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 70%;
		height: 10vh;
		label {
			display: flex;
			flex-direction: column;
			gap: 0.625rem;
			width: 100%;
			height: 100%;
		}
		input {
			height: 55%;
			padding-left: 1rem;
			&:focus {
				outline: none;
				border: 3px solid $color400;
				border-radius: 10px;
			}
		}
		select {
			width: 100%;
			height: 55%;

			&:focus {
				outline: none;
				border: 3px solid $color400;
				border-radius: 10px;
			}
		}
	}
	&__inputTextArea {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 70%;
		label {
			display: flex;
			flex-direction: column;
			gap: 0.625rem;
			width: 100%;
			height: 100%;
		}
	}
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		span {
			color: #e62a2a;
			font-size: 1rem;
		}
	}
	&__error {
		position: absolute;
		right: 0;
		top: 100%;
		color: #e62a2a;
		font-size: 0.7rem;
	}
	&__errorInp {
		border: 3px solid #e62a2a;
		border-radius: 10px;
	}
	&__sendBtn {
		color: $color400;
		font-weight: 700;
		height: 5vh;
		width: 25%;
	}
	&__errorInp {
		border: 1px solid #e62a2a;
	}
	&__sendWrapper {
		position: relative;
		width: 70%;
	}
	&__acc {
		width: 70%;
		height: 5vh;
		a {
			color: $color400;
			font-weight: 700;
		}
	}
	.loader {
		display: flex;
		color: #6086d2;
		font-size: 15px;
		text-indent: -9999em;
		overflow: hidden;
		width: 1em;
		height: 1em;
		border-radius: 50%;
		position: absolute;
		left: 12%;
		top: 25%;
		transform: translateZ(0);
		animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
	}
}

@include media("<=phone") {
	.contactForm {
		width: 100%;
		&__inputWrapp {
			width: 75%;
		}
		&__inputTextArea {
			width: 75%;
		}
	}
}
@include media(">=phone", "<=tablet") {
	.contactForm {
		width: 100%;
		&__inputWrapp {
			width: 75%;
		}
		&__inputTextArea {
			width: 75%;
		}
	}
}
@include media(">=tablet", "<=1024px") {
	.contactForm {
		width: 100%;
		&__inputWrapp {
			width: 80%;
		}
		&__inputTextArea {
			width: 80%;
		}
	}
}

@keyframes mltShdSpin {
	0% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
			0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	5%,
	95% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
			0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	10%,
	59% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
			-0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
			-0.297em -0.775em 0 -0.477em;
	}
	20% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
			-0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
			-0.749em -0.34em 0 -0.477em;
	}
	38% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
			-0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
			-0.82em -0.09em 0 -0.477em;
	}
	100% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
			0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
}

@keyframes round {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
