@use "../../scss/abstract/colors" as *;
@use "../../scss/base/brakepoints" as *;

.about {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	&__topHero {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 50vh;
		background: linear-gradient(
				0deg,
				rgba(136, 164, 221, 0.38) 0%,
				rgba(136, 164, 221, 0.38) 100%
			),
			url(https://images.unsplash.com/photo-1600607687920-4e2a09cf159d?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
		background-position: 50% 50%;
		h1 {
			font-size: 48px;
			font-style: normal;
			font-weight: 400;
			line-height: 150%;
			letter-spacing: -0.48px;
			color: $color800;
		}
	}
	&__content {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 33px;
		padding: 44px 125px;
		width: 100%;
	}
	&__contentTop {
		h2 {
			font-size: 48px;
			font-style: normal;
			font-weight: 300;
			line-height: 150%;
			letter-spacing: -0.48px;
		}
	}
	&__contentBottom {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 20px;
		h3 {
			font-size: 24px;
			font-style: normal;
			font-weight: 300;
			line-height: 150%;
			letter-spacing: -0.24px;
		}
		p {
			font-size: 24px;
			font-style: normal;
			font-weight: 300;
			line-height: 150%;
			letter-spacing: -0.24px;
			width: 60%;
		}
	}
}
