@use "../../scss/abstract/colors" as *;
@use "../../scss/base/brakepoints" as *;

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 518px;
	padding: 120px 0px 10px 0px;
	background-color: $color700;
	margin-top: 4rem;

	&__content {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		width: 100%;
		height: 518px;
	}
	&__leftSide {
		display: flex;
		width: 40%;
		&-logo {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 55%;
			img {
				width: 52%;
				max-width: 450px;
			}
		}
	}
	&__rightSide {
		display: flex;
		align-items: center;
		width: 30%;
	}
	&__nav {
		display: flex;
		align-items: flex-start;
		justify-content: space-around;
		flex-direction: row;
		width: 75%;
		color: $color500;
		gap: 2rem;

		h4 {
			font-size: 20px;
		}
	}
	&__navContent {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
		color: $color500;
		gap: 2rem;
		h4 {
			font-size: 20px;
		}
	}
	&__items {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
		gap: 1rem;
		a {
			color: $color500;
			text-decoration: none;
			font-weight: 400;
			font-size: 16px;
		}
	}
	&__location {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		width: 15%;
	}
	&__locationValues {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 1rem;
		font-size: 20px;
		color: $color50;
		a {
			text-decoration: none;
			color: $color50;
		}
	}
	&__lowerContent {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 75%;
		color: $color200;
	}
	&__lowerLinks {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 2rem;
		a {
			text-decoration: none;
			color: $color500;
		}
	}
}
@include media("<=phone") {
	.footer {
		height: 80vh;
		padding: 10px 0px 10px 0px;

		&__content {
			flex-direction: column;
		}
		&__items {
			align-items: center;
			text-align: center;
			a {
				font-size: 0.7rem;
			}
		}
		&__nav {
			width: 100%;
		}
		&__navContent {
			align-items: center;
			width: 90%;
		}
		&__leftSide {
			width: 100%;
			align-items: center;
			justify-content: center;
			&-logo {
				width: 35%;
			}
		}
		&__rightSide {
			width: 85%;
		}
		&__location {
			flex-direction: row;
			gap: 1rem;
			width: 77%;
			margin-top: 3rem;
		}
		&__locationValues {
			font-size: 0.8rem;
		}
		&__lowerContent {
			justify-content: space-around;
			width: 100%;
			p {
				font-size: 0.4rem;
			}
		}
		&__lowerLinks {
			font-size: 0.5rem;
			gap: 0.8rem;
		}
	}
}
@include media(">=phone", "<=tablet") {
	.footer {
		height: 80vh;
		padding: 10px 0px 10px 0px;

		&__content {
			flex-direction: column;
		}
		&__items {
			align-items: center;
			a {
				font-size: 0.7rem;
			}
		}
		&__nav {
			width: 100%;
		}
		&__navContent {
			align-items: center;
			width: 90%;
		}
		&__leftSide {
			width: 100%;
			align-items: center;
			justify-content: center;
			&-logo {
				width: 30%;
			}
		}
		&__rightSide {
			width: 85%;
		}
		&__location {
			align-items: center;
			justify-content: space-between;
			flex-direction: row;
			gap: 1rem;
			width: 77%;
			margin-top: 3rem;
		}
		&__locationValues {
			font-size: 0.8rem;
		}
		&__lowerContent {
			justify-content: space-around;
			width: 100%;
			p {
				font-size: 0.5rem;
			}
		}
		&__lowerLinks {
			font-size: 0.5rem;
			gap: 0.8rem;
		}
	}
}
@include media(">=tablet", "<=1024px") {
	.footer {
		height: 80vh;
		padding: 10px 0px 10px 0px;

		&__content {
			flex-direction: column;
		}
		&__items {
			align-items: center;
			a {
				font-size: 0.7rem;
			}
		}
		&__nav {
			width: 100%;
		}
		&__navContent {
			align-items: center;
			width: 90%;
		}
		&__leftSide {
			width: 100%;
			align-items: center;
			justify-content: center;
			&-logo {
				width: 20%;
			}
		}
		&__rightSide {
			width: 85%;
		}
		&__location {
			flex-direction: row;
			gap: 1rem;
			width: 77%;
			margin-top: 3rem;
		}
		&__locationValues {
			font-size: 0.8rem;
		}
		&__lowerContent {
			justify-content: space-around;
			width: 100%;
			p {
				font-size: 0.5rem;
			}
		}
		&__lowerLinks {
			font-size: 0.5rem;
			gap: 0.8rem;
		}
	}
}
