@use "../../scss/abstract/colors" as *;
@use "../../scss/base/brakepoints" as *;

.clickedProduct {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	&__content {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 44px 125px;
	}
	&__leftProduct {
		display: flex;
		gap: 2rem;
	}
	&__leftThumbnails {
		flex: 1;
		img {
			width: 160px;
			height: 160px;
			object-fit: cover;
			cursor: pointer;
		}
	}
	&__rightDesc {
		display: flex;
		flex-direction: column;
		width: 65%;
		padding: 40px 80px;
	}
	&__desc {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		width: 60%;
		h2 {
			font-size: 2rem;
			color: $color950;
		}
	}
	&__lowerDesc {
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 400;
		line-height: 150%;
	}
	&__price {
		font-size: 1.25rem;
		color: $color800;
	}
	&__mainImg {
		flex: 4;
		img {
			width: 100%;
			max-height: 700px;
			object-fit: cover;
		}
	}
	&__buttons {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		gap: 1rem;
	}

	&__addToCart {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		width: 115px;
		height: 40px;
		background-color: $color400;
		color: $color50;
		border: 1px solid $color400;
		cursor: pointer;
		transition: all 0.3s ease;
		&:hover {
			background-color: transparent;
			color: $color400;
			transition: all 0.3s ease;
		}
	}
	&__addToWishList {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		width: 125px;
		height: 40px;
		background-color: transparent;
		border: none;
		outline: none;
		font-size: 0.75rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		cursor: pointer;
		color: $color400;
		transition: all 0.3s ease;
		&:hover {
			background-color: $color400;
			color: $color50;
			transition: all 0.3s ease;
		}
	}
	&__leftMobile {
		display: none;
	}
}
@include media("<=phone") {
	.clickedProduct {
		&__content {
			flex-direction: column;
			padding: 22px 0px;
		}
		&__leftProduct {
			display: none;
		}
		&__rightDesc {
			width: 100%;
			padding: 40px 35px;
		}
		&__desc {
			width: 100%;
		}
		&__leftMobile {
			display: flex;
			width: 100%;
			height: 100%;
		}
		&__image {
			width: 100%;
		}
		&__leftMobileContent {
			position: relative;
			width: 100%;
			&--nextSlide {
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 40px;
				height: 40px;
				top: 50%;
				left: 90%;
				transform: translate(-50%, -50%);
				font-size: 1.5rem;
				background-color: rgba(255, 255, 255, 0.212);
				color: $color950;
				cursor: pointer;
			}
			&--prevSlide {
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 40px;
				height: 40px;
				background-color: rgba(255, 255, 255, 0.212);
				font-size: 1.5rem;
				top: 50%;
				right: 80%;
				transform: translate(-50%, -50%);
				color: $color950;
				cursor: pointer;
			}
		}
	}
}
