@use "../../scss/abstract/colors" as *;
@use "../../scss/base/brakepoints" as *;

.productCard {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 280px;
	margin-bottom: 50px;
	text-decoration: none;
	&__lowerCard {
		display: flex;
		flex-direction: column;
		gap: 5px;
		margin-top: 1rem;
	}
	h2 {
		font-size: 0.875rem;
		color: $color950;
		font-weight: 400;
	}
	h3 {
		font-size: 1rem;
		color: $color950;
		font-weight: 700;
	}
	&__image {
		position: relative;
		width: 100%;
		height: 330px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
		}
	}
}
