@use "../../scss/abstract/colors" as *;
@use "../../scss/base/brakepoints" as *;

.cartItem {
	&__image {
		width: 180px;
		img {
			width: 100px;
			height: 100px;
		}
	}
	&__title {
		font-weight: 300;
	}
	&__removeItem {
		cursor: pointer;
	}
	&__total {
		width: 15%;
	}
}
@include media("<=phone") {
	.cartItem {
		&__image {
			width: 75px;
			img {
				width: 75px;
				height: 50px;
			}
		}
		&__title {
			font-size: 0.8rem;
		}
		&__total {
			display: none;
		}
		&__removeItem {
			position: absolute;
			right: 20px;
		}
		&__amount {
			width: 25%;
		}
	}
}
@include media(">=phone", "<=tablet") {
	.cartItem {
		&__image {
			width: 155px;
			img {
				height: 100px;
			}
		}
		&__title {
			display: flex;
			align-items: center;
			font-size: 0.9rem;
			width: 30%;
		}
		&__price {
			display: flex;
			align-items: center;
			width: 15%;
		}
		&__total {
			display: none;
		}
		&__removeItem {
			position: absolute;
			right: 20px;
			top: -10px;
		}
		&__amount {
			width: 20%;
		}
	}
}
@include media(">=tablet", "<=1024px") {
	.cartItem {
		&__image {
			width: 155px;
			img {
				height: 100px;
			}
		}
		&__title {
			display: flex;
			align-items: center;
			font-size: 0.9rem;
			width: 30%;
		}
		&__price {
			display: flex;
			align-items: center;
			width: 15%;
		}
		&__total {
			display: none;
		}
		&__removeItem {
			position: absolute;
			right: 20px;
			top: -10px;
		}
		&__amount {
			width: 20%;
		}
	}
}
