@use "../../scss/abstract/colors" as *;
@use "../../scss/base/brakepoints" as *;

.cartPage {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	padding-top: 20px;
	&__topContent {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
	}
	&__topHeader {
		display: flex;
		align-items: center;
		width: 100%;
		height: 120px;
		padding: 7px 125px;
		text-transform: uppercase;
		h2 {
			font-size: 34px;
			font-style: normal;
			font-weight: 300;
		}
	}
	&__topNav {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 10vh;
	}
	&__nav {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 2rem;
		list-style: none;
		text-transform: uppercase;
		font-size: 1.375rem;
	}
	&__items {
		font-weight: 300;
		&.active {
			border-bottom: 1px solid $color400;
			font-weight: 600;
		}
	}
	&__cartContent {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		gap: 3rem;
		padding: 65px 40px;
		width: 100%;
		height: 100%;
	}
	&__topCartContent {
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 50%;
	}
	&__rightContent {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-direction: column;
		gap: 1rem;
		width: 30%;
		height: 40vh;
		background-color: $color50;
		padding: 20px 30px;
		p {
			font-size: 1.1rem;
		}
	}
	&__leftTotalBasket {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		p {
			font-size: 1.2rem;
			font-weight: 700;
		}
	}
	&__rightTotalBasket {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		span {
			font-weight: 600;
		}
	}
	&__rightContentWrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}
	&__checkoutBtn {
		width: 95%;
		height: 4vh;
		cursor: pointer;
		background-color: $color900;
		color: $color50;
		font-weight: 700;
		outline: none;
		border: none;
		border-radius: 5px;
		transition: all 0.5s ease;
		&:hover {
			background-color: #1a2231;
			transition: all 0.5s ease;
			height: 5vh;
		}
	}
	&__promoCode {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 2rem;
		width: 95%;
	}
	&__form {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 2rem;
		width: 95%;
		input[type="text"] {
			height: 4vh;
			padding-left: 5px;
		}
		input[type="submit"] {
			width: 100%;
			height: 4vh;
			cursor: pointer;
			background-color: $color900;
			color: $color50;
			font-weight: 700;
			outline: none;
			border: none;
			border-radius: 5px;
			transition: all 0.5s ease;
		}
	}
	&__tableWrapper {
		width: 100%;
	}
}
.tableDesktop {
	width: 65%;
	thead {
		height: 10vh;
	}
	th {
		text-align: left;
		padding: 15px 10px;
		border-bottom: 1px solid #0b152865;
	}
	td {
		text-align: left;
		padding: 15px 10px;
		border-bottom: 1px solid #0b152865;
	}
}
.tableMobile {
	display: none;
}
@include media("<=phone") {
	.cartPage {
		&__nav {
			font-size: 0.9rem;
		}
		&__topHeader {
			justify-content: center;
		}
		&__cartContent {
			flex-direction: column;
			gap: 2rem;
			padding: 20px 3px;
		}
		&__rightContent {
			width: 100%;
			height: 40vh;
		}
	}
}
@include media(">=phone", "<=tablet") {
	.cartPage {
		&__nav {
			font-size: 0.9rem;
		}
		&__topHeader {
			justify-content: center;
		}
		&__cartContent {
			flex-direction: column;
			gap: 2rem;
			padding: 20px 3px;
		}
		&__rightContent {
			width: 75%;
			height: 40vh;
		}
	}
}
@include media(">=tablet", "<=1024px") {
	.cartPage {
		&__nav {
			font-size: 0.9rem;
		}
		&__topHeader {
			justify-content: center;
		}
		&__cartContent {
			flex-direction: column;
			gap: 2rem;
			padding: 20px 3px;
		}
		&__rightContent {
			width: 75%;
			height: 40vh;
		}
	}
}
@include media(">=1023px", "<=desktop") {
	.cartPage {
		&__cartContent {
			padding: 65px 0px;
		}
		&__rightContent {
			width: 40%;
			height: 29vh;
		}
	}
}
