@use "../../scss/abstract/colors" as *;
@use "../../scss/base/brakepoints" as *;

.cartPage {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	padding-top: 20px;
	&__topContent {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
	}
	&__topHeader {
		display: flex;
		align-items: center;
		width: 100%;
		height: 120px;
		padding: 7px 125px;
		text-transform: uppercase;
		h2 {
			font-size: 34px;
			font-style: normal;
			font-weight: 300;
		}
	}
	&__topNav {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 10vh;
	}
	&__nav {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 2rem;
		list-style: none;
		text-transform: uppercase;
		font-size: 1.375rem;
	}
	&__items {
		font-weight: 300;
		&.active {
			border-bottom: 1px solid $color400;
			font-weight: 600;
		}
	}
	&__cartContent {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: column;
		padding: 65px 40px;
		width: 100%;
		height: 100%;
	}
	&__topCartContent {
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 50%;
	}
}
table {
	width: 65%;
	thead {
		height: 10vh;
	}
	th {
		text-align: left;
		padding: 15px 10px;
		border-bottom: 1px solid #0b152865;
	}
	td {
		text-align: left;
		padding: 15px 10px;
		border-bottom: 1px solid #0b152865;
	}
}
