@use "../../scss/abstract/colors" as *;
@use "../../scss/base/brakepoints" as *;

.ourProducts {
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-top: 120px;
	&__header {
		display: flex;
		align-items: center;
		width: 100%;
		height: 150px;
		padding: 7px 125px;
		text-transform: uppercase;
		h2 {
			font-size: 34px;
			font-style: normal;
			font-weight: 300;
		}
	}
	&__products {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding: 30px 125px;
	}
	&__productWrapper {
		display: grid;
		justify-content: start;
		grid-template-columns: repeat(3, 30%);
		grid-template-rows: repeat(2, 1fr);
		gap: 20px;
	}
	&__productCard {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 100%;
		height: 100%;
		box-shadow: 1px 6px 11px 4px #060a1431;
		overflow: hidden;
		transition: transform 0.5s ease-in;
		cursor: pointer;
		&:hover {
			img {
				transform: scale(1.3);
				transition: transform 1s ease;
			}
			.ourProducts__productCard-description {
				bottom: 8%;
				transition: all ease-in-out 0.2s;
			}
			.ourProducts__productCard-description::after {
				width: 90%;
			}
		}
		&-description {
			position: absolute;
			display: flex;
			flex-direction: column;
			width: 45%;
			bottom: 5%;
			left: 5%;
			font-size: 25px;
			transition: all ease-in-out 0.2s;
			&::after {
				transition: all ease-in-out 0.6s;
				background: none repeat scroll 0 0 #ffffff;
				content: "";
				display: block;
				background: $color950;
				height: 3px;
				width: 0;
			}
		}
		img {
			width: 100%;
			transition: transform 2s ease;
		}
	}
}
@include media("<=phone") {
	.ourProducts {
		padding-top: 10px;
		&__header {
			height: 90px;
			padding: 7px 25px;
			h2 {
				font-size: 1.25rem;
			}
		}
		&__products {
			width: 100%;
			padding: 10px 8px;
		}
		&__productWrapper {
			justify-content: center;
			grid-template-columns: repeat(1, 85%);
			grid-template-rows: repeat(2, 1fr);
		}
		&__productCard {
			&-description {
				font-size: 16px;
			}
		}
	}
}
@include media(">=phone", "<=tablet") {
	.ourProducts {
		padding-top: 10px;
		&__header {
			height: 90px;
			padding: 7px 25px;
			h2 {
				font-size: 1.25rem;
			}
		}
		&__products {
			width: 100%;
			padding: 10px 8px;
		}
		&__productWrapper {
			justify-content: center;
			grid-template-columns: repeat(2, 46%);
			grid-template-rows: repeat(2, 1fr);
		}
		&__productCard {
			&-description {
				font-size: 16px;
			}
		}
	}
}
