@use "../../scss/abstract/colors" as *;
@use "../../scss/base/brakepoints" as *;

header {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 16vh;
	background-color: $color50;
	z-index: 3;
	&.active {
		position: sticky;
		top: 0;
		height: 16vh;
		transition: transform 150ms ease-in-out;
	}
	&.hidden {
		position: sticky;
		top: 0;
		height: 16vh;
		transition: transform 150ms ease-in-out;
		transform: translateY(-100%);
	}
}
.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 85%;
	height: 75%;
	padding: 24px 0px;
	&__desktop {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: center;
	}
	&__left {
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		gap: 46px;
		list-style: none;
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 400;
		a {
			color: $color950;
			text-decoration: none;
		}
	}
	&__middle {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50%;
		a {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	&__logo {
		width: 13%;
	}
	&__right {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 340px;
		gap: 20px;
		&--icons {
			cursor: pointer;
			width: 25px;
			height: 25px;
			font-weight: 400;
		}
	}
}
.subnav {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 5vh;
	background-color: $color300;
	transition: all 150ms ease-in-out;
	&.active {
		position: sticky;
		top: 0;
		height: 12vh;
		-webkit-animation-name: showSubNav;
		animation-name: showSubNav;
		-webkit-animation-duration: 1s;
		animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
	}
	&.hidden {
		position: sticky;
		top: 0;
		height: 12vh;
		transition: all 150ms ease-in-out;
		-webkit-animation-name: hideSubnav;
		animation-name: hideSubnav;
		-webkit-animation-duration: 0.1ms;
		animation-duration: 0.1ms;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
	}
	&__items {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 15px;
		list-style: none;
		text-transform: uppercase;
		a {
			color: $color950;
			text-decoration: none;
			font-size: 14px;
			font-weight: 600;
		}
	}
	.close {
		right: 0;
		font-size: 25px;
		color: $color50;
		background-color: blue;
	}
}
@include media("<=phone") {
	.nav {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		&__desktop {
			display: none;
		}
		&__left {
			display: none;
		}
		&__right {
			display: none;
		}
		&__logo {
			width: 55%;
		}
	}

	.subnav {
		display: none;
	}
}
@include media(">=phone", "<=tablet") {
	.nav {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		&__desktop {
			display: none;
		}
		&__left {
			display: none;
		}
		&__right {
			display: none;
		}
		&__logo {
			width: 55%;
		}
	}

	.subnav {
		display: none;
	}
}

@include media(">=tablet", "<=1023px") {
	.nav {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		&__desktop {
			display: none;
		}
		&__left {
			display: none;
		}
		&__right {
			display: none;
		}
		&__logo {
			width: 55%;
		}
	}

	.subnav {
		display: none;
	}
}

@include media(">=1023px", "<=desktop") {
	.nav {
		&__middle {
			width: 35%;
		}
		&__left {
			gap: 22px;
			width: 45%;
			font-size: 0.875rem;
			li {
				width: 75%;
			}
		}
		&__logo {
			width: 25%;
		}
	}
}

@keyframes hideSubnav {
	0% {
		transform: translateY(-10%);
	}
	50% {
		opacity: 0;
	}
	100% {
		display: none;
	}
}

@keyframes showSubNav {
	0% {
		transform: translateY(0);
	}
	50% {
		display: flex;
	}
	100% {
		opacity: 1;
	}
}
